.login-form-button {
    width: 100%;
}

#login {
    padding: 10px;
}

#user_index {
    position: relative;
    top: 10px;
    background-color: #fff;
    padding: 10px;
    font-size: 15px;
    dl {
        dt {
            display: flex;
            align-items: center;
            padding-bottom: 5px;
        }
        label {
            padding-left: 10px;
            display: block;
            flex: 1;
        }
    }
    .myarticle {
        height: 40px;
        display: flex;
        align-items: center;
        background-color: rgba(221, 221, 221, 0.38);
        label {
            text-align: right;
            padding-right: 10px;
            font-size: 15px;
        }
    }
}


/*.ant-btn-lg {
    width: 100%;
}*/
