#article {
    background-color: #fff;
    position: relative;
    top: 10px;
    h1 {
        padding: 10px;
        word-break: break-all;
        border-bottom: 1px solid #f6f6f6;
    }
    p {
        display: flex;
        padding: 10px;
        background-color: #f6f6f6;
        label {
            flex: 1;
        }
        label:last-child {
            text-align: right;
        }
    }
    textarea {
        resize: none;
    }
    [disabled] {
        background-color: transparent;
        color: #000;
        border: 0;
    }
    .ant-tabs-nav {
        display: flex;
        width: 100%;
        border-top: 1px solid #ccc;
        margin-top: 50px;
        .ant-tabs-tab {
            flex: 1;
            margin-right: 0;
            text-align: center;
        }
    }
    dl {
        dd {
            padding: 10px;
            label {
                font-size: 12px;
                padding-left: 8px;
                color: #899084;
            }
            span {
                float: right;
            }
        }
        >:nth-child(odd) {
            background-color: #eee;
        }
    }
    button {
        float: right;
        margin: 10px;
    }
}

#write {
    display: flex;
    flex-direction: column;
    margin: 15px;
    #title {
        height: 30px;
        font-size: 15px;
        margin: 15px 0;
        text-indent: 10px;
    }
    #message {
        resize: none;
        margin-bottom: 30px;
    }
}
