@import '../../app/default.scss';

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 22px;
    line-height: 2;
    z-index: 999;
    border-bottom: 1px solid #ccc;

    i {
        position: absolute;
        left: 10px;
        top: 10px;

        &.anticon-menu-fold {
            left: auto;
            right: 10px;
        }
    }

    span {
        white-space: nowrap;
        flex: 0 0 80%;
        flex-basis: 72%;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
    }
}
@supports(font-size:1vw) {
    header {
        font-size: pxToVw(22);

        i {
            left: pxToVw(10);
            top: pxToVw(10);

            &.anticon-menu-fold {
                right: pxToVw(10);
            }
        }
    }
}
