@import '../../app/default.scss';

#list {
    dl {
        display: flex;
        flex-direction: column;

        dd {
            margin-top: 10px;
            padding: 10px;
            width: 100%;
            background-color: #fff;
            color: #999;

            p {
                font-size: 18px;
                line-height: 1.2;
                color: #444;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-all;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }

            div {
                display: flex;
                align-items: center;
                padding-top: 15px;
                font-size: 12px;

                label {
                    flex: 1;
                    padding-left: 10px;
                    font-size: 12px;
                }

                i {
                    padding-left: 10px;
                    padding-right: 5px;
                }
            }
        }
    }

    ul {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
}

.spin {
    text-align: center;
    margin-top: 50%;
}
@supports(font-size:1vw) {
    #list {
        dl {
            dd {
                margin-top: pxToVw(10);
                padding: pxToVw(10);

                p {
                    font-size: pxToVw(18);
                }

                div {
                    padding-top: pxToVw(15);
                    font-size: pxToVw(12);

                    label {
                        padding-left: pxToVw(10);
                        font-size: pxToVw(12);
                    }

                    i {
                        padding-left: pxToVw(10);
                        padding-right: pxToVw(5);
                    }
                }
            }
        }

        ul {
            margin: pxToVw(20);
        }
    }
}
